.btn-primary:link,
.btn-primary:visited {
  display: block;
  text-decoration: none;
  font-size: 1.2rem;
  color: var(--white);
  padding: 1.2rem;
  background-color: var(--dark-grey-blue);
  border-radius: 10rem;
  text-align: center;
  cursor: pointer;
}

.btn-primary:hover {
  background-image: linear-gradient(
    180deg,
    var(--slate-blue),
    var(--royal-blue)
  );
}
